body{
	background: #f5f5f5;
}
.header{
	border-bottom: 1px solid #000;
	box-sizing: border-box;
}
.logobox{
	position: relative;
}
.logo{
		float: left;
		vertical-align: middle;
		height: 118px;
		line-height: 118px;
		overflow: hidden;
		a{
			display: inline-block;
			img{
				width: 150px;
				height: 40px;
				overflow: hidden;
				vertical-align: middle;
			}
		}
	
}

.box1 {
	background: white;
				width: 100%;
				height: 50px;
				//background: orange;
				position: fixed;
				top: -50px;
				left: 0px;
				z-index: 9999999;
				text-align: center;
				.formstyle1{
					margin-top: 4px;
					border-radius: 10px;
				}
			}
.search{
	//width: 740px;
	float: left;
	padding-top: 30px;
	margin-left: 250px;
	display: inline-block;
	.formstyle{
		width: 541px;
		display: inline-block;
	}
	.search-p{
		@include font-style();
		margin-top: 9px;
		a{
			text-decoration: none;
			display: inline-block;
			margin: 0 5px;
			color: #999;
			&:hover{
				color: $price-color;
			}
		}
	}
}
#put1{
		@include borderstyle($bcolor:$img-color);
		    width: 434px;
			height: 40px;
			padding: 0 14px;
			line-height: 40px;
			vertical-align: top;
	}
#put2{
		@include borderstyle($bcolor:$img-color);
		background: #23ac38 $sorite no-repeat 24px -112px;
		width: 72px;
		height: 42px;
		padding: 0 14px;
		line-height: 40px;
		vertical-align: top;
		cursor: pointer;
		margin-left: -5px;
		&:hover{
			background-color: #23862a;
			}
	}
.d-img{
	position: absolute;
	top: 74%;
	right: 4%;
	cursor: pointer;
}