.nav{
	position: relative;
	.second{
		
	
	ul{
		a{
			@include font-style($font-s:15px,$font-c:#323334);
			position: relative;
			display: block;
			text-decoration: none;
			
		}
		/* li:hover .subli{
			display: block;
			height: 230px;
		} */
		li:nth-of-type(1){
			a{
				z-index: 10;
				color: white;
				background: #000;
				padding: 0 60px;
				margin: 0 20px 0 0;
				&::before{
					content: '';
					//vertical-align: middle;#323334;
					position: absolute;
					left: 20px;
					top: 0px;
					display: inline-block;
					width: 20px;
					height: 30px;
					background: $sorite 2px -295px no-repeat;
					z-index: 9;
				}
			}
		}
		
			@for $i from 2 through 7 {
				li:nth-of-type(#{$i}){ 
					 a{
						  color: #323334;
						  padding: 0 5px;
						  &:hover{
							  color: $img-color;
						  }
					 }	
					
				}
			}
	}
	}
	
}
.subli{
		position: absolute;
		left: -292px;
		top: 35px;
		width: 1240px;
		height: 0px;
		border-top: 1px solid #ddd;
		background: rgba(255,255,255,.96)!important;
		background: #fff;
		box-shadow: 0px 4px 4px rgba(0,0,0,.2);
		z-index: 111;
		line-height: normal;
		overflow: hidden;
		text-align: center;
		//display: none;
		opacity: 0;
		
		ol{
			padding: 20px;
			height: 100%;
			li{
				cursor: pointer;
				float: left;
				position: relative;
				padding: 0 30px;
				width: 120px;
				overflow: hidden;
				border-right: 1px solid #ccc;
				.img-box{
					text-align: center;
				}
				span{
					display: inline-block;
					height: 18px;
					line-height: 18px;
					margin-top: 15px;
				}
				p{
					line-height: 25px;
					color: #ee4a25;
				}
					img{
						width: 120px;
						height: 120px;
					}
				
			}
		}
}

/* .weaper-center{
	

.nav{ */
	

#subnav{
		position: absolute;
		top: 36px;
		left: 0px;
		color: #fff;
		background: white;
		z-index: 99;
		ul{
			
			width: 210px;
			height: 420px;
			position: relative;
			li{
				//width: 100%;
				opacity: 0.8;
				&:hover{
					opacity: 1;
					.popbox{
						display: block;
					}
				}
				a{
					display: block;
					height: 50px;
					line-height: 50px;
					text-decoration: none;
					@include font-style($font-s:14px,$font-c:#1b1b1b);
					&:hover{
						color: $img-color;
					}
					i{
						display: inline-block;
						width: 34px;
						vertical-align: middle;
						font-size: 21px;
						position: relative;
						left: 20px;
						margin-right: 30px;
						top: 0;
						height: 48px;
						background: rgba(255,255,255,.88);
					}
					span{
						display: inline-block;
						text-align: left;
					}
				}
				
			}
			
		}
		
	}
	.popbox{
			p{
				height: 14px;
				line-height: 14px;
				color: #000;
				font-size: 14px;
				margin-bottom: 5px;
			}
			display: none;
			padding: 30px 0 0 30px;
			width: 1030px;
			height: 410px;
			box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
			position: absolute;
			left: 210px;
			top: 0;
			background: #fff;	
			ol{
				@for $i from 1 through 3 {
					li:nth-of-type(#{$i}){ 
						 a{
							  color: #ee4a25;
							  &:hover{
								  color: #ee4a25;
							  }
						 }	
				
					}
				}
				li{
					float: left;
					padding: 0 16px;
					a{
						display: block;
						img{
							font-size: 0;
							vertical-align: middle;
						}
						span{
							display: inline-block;
							vertical-align: middle;
						}
					}
				}
			}
	}
/* }
} */
