.slideshow{
	position: relative;
	width: 100%;
	height: 420px;
	.lunbo{
		position: absolute;
		height: 420px;
		width: 100%;
		left: 50%;
		margin-left: -952px;
		a{
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			height: 100%;
			opacity: 0;
			img{
				width: 100%;
				height: 100%;
				
			}
		}
	}
	.arrow{
		display: block;
		position: absolute;
		top: 42%;
		left: 50%;
		width: 42px;
		height: 72px;
		background: $sorites -179px -143px no-repeat;
		border-radius: 5px;
		/* display: none; */
		&:hover{
			background-color: rgba(0,0,0,.4);
		}
	}
	.j-left{
		margin-left: -400px;
		background-position: -179px -143px;
	}
	.j-right{
		margin-left: 350px;
		background-position: -179px -73px;
	}
	.yuan span.active{
		background: orange;
	}
	.yuan{
		position: absolute;
		bottom: 15px;
		left: 50%;
		padding: 8px 14px;
		height: 14px;
		span{
			display: inline-block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: white;
			text-indent: -9999px;
			margin: 0 5px;
		}
	}
}
