.details{
	.weaper-center{
		    width: 1240px;
			margin: 0 auto;
			padding: 60px 0;
			background: #FFF;
			overflow: hidden;
	}
}

.d-right{
	    width: 620px;
		margin: 0;
		float: right;
	.str{
		strong{
			font-size: 28px;
			color: #0E0E0E;
			display: block;
			font-weight: normal;
			width: 600px;
			overflow: hidden;
			line-height: 40px;
		}
	}
	.cen{
		margin-top: 50px;
		strong{
			padding-left: 10px;
			height: 60px;
			line-height: 60px;
			display: inline-block;
			margin-right: 10px;
			font-size: 36px;
			font-style: normal;
			color: #FA5437;
			vertical-align: middle;
			width: 600px;
			overflow: hidden;
			i{
				font-style: normal;
			}
		}
	}
}
.deta{
	.a1{
		border: none;
		color: #005ea7;
	}
	p{
		margin-top: 10px;
		a{
			text-decoration: none;
			//@include borderstyle($bcolor:#ccc);
			color: #31373c;
			background: #fff;
			display: inline-block;
			height: 30px;
			line-height: 30px;
			padding: 0 10px;
			border-radius: 2px;
			margin-right: 10px;
			font-size: 12px;
		}
		a:nth-of-type(even){
			border: 1px solid #fd532d;
			color: #fd532d;
		}
		span{
			//float: left;
			width: 56px;
			overflow: hidden;
			font-size: 14px;
			height: 30px;
			line-height: 30px;
			color: #848484;
			text-align: justify;
			margin-right: 9px;
		}
		input{
			    padding: 0;
				
				width: 60px;
				height: 30px;
				line-height: 30px;
				margin-left: -1px;
				background: #FFF;
				font-family: arial;
				font-size: 13px;
				color: #000;
				border: 1px #CCC solid;
				text-align: center;
				vertical-align: middle;
		}
	}
	.end{
		margin-top: 25px;
	}
}
.join{
	margin-left: 18%;
	margin-top: 60px;
	
	a{
		float: left;
		width: 240px;
		height: 50px;
		line-height: 50px;
		font-size: 16px;
		text-align: center;
		border-radius: 2px;
		background: #FA5437;
		color: #FFF;
		text-decoration: none;
	}
}



a {
	text-decoration: none;
}
			
ul,ol,li {
	list-style: none;
}

input {
	border: 0;
}
.wrap {
	float:left;
	position: relative;
}

#spic {
	width: 400px;
	height: 400px;
	border: 1px solid #ccc;
	float: left;
	position: relative;
	cursor: move;
}

#spic img {
	width: 400px;
	height: 400px;
}

#sf {
	width: 50px;
	height: 50px;
	background: orange;
	opacity: 0.3;
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
}

#bf {
	width: 500px;
	height: 500px;
	border: 1px solid #ccc;
	overflow: hidden;
	position: absolute;
	left: 410px;
	visibility: hidden;
	z-index: 100;
}

#bf img {
	position: absolute;
	left: 0px;
	top: 0px;
	width:800px;
	height:800px;
}

#ulist {
	position: absolute;
	left: 0px;
	top: 430px;
	width: 402px;
	height: 56px;
	overflow: hidden;
}

#ulist a {
	float: left;
	width: 15px;
	height: 54px;
	text-decoration: none;
	line-height: 56px;
	text-align: center;
	background: #fff;
}

#list {
	float: left;
	margin-left: 18px;
	width: 372px;
	position: relative;
	li{
		cursor: pointer;
		
		margin: 0 4px;
		&:hover{
			img{
				border: 1px solid #ccc;
				box-sizing: border-box;
			}
		}
	}
}

.wrap ul {
	list-style: none;
	float: left;
	position: absolute;
	left: 0px;
	top: 0px;
}

.wrap ul li {
	float: left;
	width: 56px;
	height: 56px;
	padding-right: 6px;
}

.wrap ul li img {
	width: 52px;
	height: 52px;
}

#right {
	position: absolute;
	right: 0px;
	top: 0px;
	color: #333;
}

#left {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
	color: #fff;
}



.goodsinfo {
	margin:0 100px;
}

.goodsinfo-img {
	width: 200px;
	height: 200px;
	float: left;
}

.goodsinfo-img img {
	width: 200px;
	height: 200px;
}

.goodsinfo-word {
	overflow: hidden;
	float: left;
}

.p-name {
	width: 350px;
	height: 50px;
	margin-left: 50px;
	margin-top: 20px;
}

.p-name .loadtitle {
	font-size: 16px;
	color: #666666;
}

.p-price {
	margin-left: 50px;
	margin-top: 10px;
	width: 300px;
	height: 50px;
	background: rgba(183, 183, 183, 0.4);
	line-height: 50px;
}

.p-btn {
	margin-top: 20px;
}

.p-btn input {
	display: inline-block;
	width: 50px;
	height: 46px;
	font-size: 20px;
	color: black;
	margin-left: 50px;
	border: 1px solid gray;
	float: left;
}

.p-btn a {
	display: block;
	width: 100px;
	height: 50px;
	background-color: red;
	font-size: 16px;
	color: white;
	line-height: 50px;
	text-align: center;
	float: left;
	margin-left: 10px;
}
#right{
	i{
		    position: relative;
			cursor: pointer;
		&::after{
			    border: 10px solid transparent;
				border-left: 10px solid #FFF;
				width: 0;
				height: 0;
				position: absolute;
				top: 17px;
				right: -15px;
				content: ' ';
		}
		&:before{
			    border: 10px solid transparent;
				border-left: 10px solid #FFF;
				width: 0;
				height: 0;
				position: absolute;
				top: 17px;
				right: -16px;
				content: ' ';
				border-left-color: #A7A7A7;
		}
	}
}
